/*Cargar fuentes*/
@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans-SemiBold.woff2") format("woff2"), url("../fuentes/GillSans-SemiBold.woff") format("woff"), url("../fuentes/GillSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans.woff2") format("woff2"), url("../fuentes/GillSans.woff") format("woff"), url("../fuentes/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans-Bold.woff2") format("woff2"), url("../fuentes/GillSans-Bold.woff") format("woff"), url("../fuentes/GillSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*Generales*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

body {
    font-family: "Gill Sans";
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 100px;
    padding: 0.375rem 1.25rem;
    transition: all 0.5s ease 0s;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(226, 6, 19);
    border-color: rgb(226, 6, 19);
    border-width: 2px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-alt {
    color: #e20613;
    background-color: rgb(255 255 255);
    border-color: rgb(255 255 255);
    border-width: 2px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-primary:hover {
    color: rgb(226, 6, 19);
    background-color: rgb(255, 255, 255);
    border-color: rgb(226, 6, 19);
}

.btn-alt:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(226, 6, 19);
    border-color: rgb(226, 6, 19);
}

.contenedor {
    min-height: calc(100vh - 93px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.navbar {
    height: 93px;
    background: rgb(226, 6, 19);
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 0px;
}

.navbar-brand {
    align-self: center;
    height: 93px;
    display: flex;
}

.navbar-brand img {
    width: 180px;
}

.navbar-toggler {
    position: absolute;
    left: 30px;
}

.navbar-toggler > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    color: white;
}

.burguer {
    width: 36px;
    height: 36px;
    position: relative;
}

.burguer i {
    display: block;
    background: rgb(254, 246, 159);
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
}

.collapsed .burguer i:first-child, .collapsed .burguer i:last-child {
    transition: all 0.5s ease 0.8s;
}

.burguer i:first-child {
    top: 0px;
}

.burguer i:last-child {
    bottom: 0px;
}

.burguer i:nth-child(2), .burguer i:nth-child(3) {
    top: 50%;
    margin-top: -5px;
    transition: transform 0.3s linear 0.5s;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
}

.navbar-collapse {
    background: rgba(255, 255, 255, 0.98);
    min-height: calc(100vh - 93px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.navbar-collapse.show {
    opacity: 1;
}

.navbar-toggler[aria-expanded="true"] .burguer i:first-child, .navbar-toggler[aria-expanded="true"] .burguer i:last-child {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .burguer i:nth-child(2) {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .burguer i:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0px auto;
    height: 100%;
    flex-grow: 2;
}

.navbar-nav li {
    width: 33.3333%;
    max-width: 315px;
    padding: 15px;
}

.navbar-nav li a:hover {
    color: rgb(226, 6, 19);
}

.navbar-nav li a > span {
    display: block;
    margin-top: 1rem;
}

.navbar-nav img {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 40px;
}

.navbar-nav a {
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}

.navbar-collapse > a {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 30px;
}

.bloque {
    background: white;
    border-radius: 30px;
    padding: 24px;
}

a, a:hover {
    color: #e20613;
}

/*Formularios*/
.form-control {
    background: rgb(245, 245, 245);
    border: none;
    border-radius: 12px;
    padding: 0.375rem 1.25rem;
    transition: all 0.5s ease 0s;
    margin-bottom: 8px;
}

.form-control:focus {
    box-shadow: rgb(245, 245, 245) 0px 0px 0px 0.2rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #e20613;
    background-color: #e20613;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #f5f5f5;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #e20613;
}

/*Textos*/
h1, h2, h3, h4, h5, h6 {
    color: rgb(226, 6, 19);
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.75rem;
}

.linea-bt {
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 2rem;
}

.linea-bt::after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0px;
    width: 180px;
    max-width: 50%;
    height: 1px;
    background: rgb(226, 6, 19);
}

/*
================
Particulares
================
*/
/*Registro*/
#registro-1, #registro-2 {
    background: url("../img/fondo-registro.jpg") center center / cover no-repeat;
}

#registro-1 .navbar, #registro-2 .navbar {
    background: transparent;
}

#registro-1 .bloque, #registro-2 .bloque {
    max-width: 520px;
    margin: 0px auto;
}

#registro-1 .bloque .btn, #registro-2 .bloque .btn {
    margin: 2rem auto 1rem;
    display: block;
}

#registro-2 form h3 {
    margin-top: 24px;
}

.proposito {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.check-caja label {
    border: 2px solid #e20613;
    width: 120px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 12px;
    color: #e20613;
    cursor: pointer;
    margin: 0 6px 0;
}

.check-caja input:checked + label {
    background: #e20613;
    color: white;
}

.check-caja input {
    opacity: 0;
    width: 1px;
}

/*Inicio*/
#inicio #proyectos-destacados {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gray;
    overflow: hidden;
}

#inicio #info-inicio {
    position: absolute;
    width: 35%;
    max-width: 475px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid white;
    padding: 40px;
}

#inicio #info-inicio .bloque-rojo {
    z-index: 2;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}

#inicio #info-inicio .fondo-rojo {
    content: "";
    position: absolute;
    background: rgb(226, 6, 19);
    background: linear-gradient(180deg, rgba(226, 6, 19,1) 0%, rgba(97,7,13,1) 100%);
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 0;
    mix-blend-mode: hard-light;
}

#inicio #info-inicio h1 {
    background: white;
    margin-left: -70px;
    margin-right: -70px;
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 70px;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}

#inicio #info-inicio p {
    color: white;
}

#inicio #info-inicio .btn {
    margin: 1.5rem auto 0;
    display: block;
    max-width: 140px;
}

#inicio .slick-slider, .proyecto {
    position: relative;
    min-height: 100vh;
    min-height: calc(100vh - 93px);
}

#inicio .slick-slider {
    height: 100vh;
    height: calc(100vh - 93px);
}

.proyecto .logo {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 120px;
}

.proyecto .fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#inicio .slick-next, #inicio .slick-prev {
    top: initial;
    left: initial;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: white url('../img/flecha.svg') 58% center no-repeat;
    background-size: 15px;
    border-radius: 100%;
    bottom: 15px;
    transition: all .5s ease;
    position: absolute;
}

#inicio .slick-next:hover, #inicio .slick-prev:hover {
    box-shadow: 0 0 0 5px #e20613 ;
}

#inicio .slick-prev:before, #inicio .slick-next:before {
    display: none;
}

#inicio .slick-prev {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: 50%;
}

#inicio .slick-next {
    right: 40px;
}

#inicio .slick-prev {
    right: 110px;
}

/* Barra progreso */
.slider-progress {
    height: 3px;
    background: #fff;
    position: absolute;
    right: 40px;
    width: 200px;
    bottom: 120px;
}

.slider-progress .progress {
    width: 0%;
    height: 3px;
    background: #e20613;
}
.custom_paging {
    position: absolute;
    bottom: 110px;
    right: 40px;
    width: 200px;
    text-align: right;
    height: 40px;
}
.custom_paging li  {
    list-style-type: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: opacity .5s ease;
}
.custom_paging li.slick-active {
     opacity: 1;
}