/*Cargar fuentes*/
@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans-SemiBold.woff2") format("woff2"), url("../fuentes/GillSans-SemiBold.woff") format("woff"), url("../fuentes/GillSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans.woff2") format("woff2"), url("../fuentes/GillSans.woff") format("woff"), url("../fuentes/GillSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../fuentes/GillSans-Bold.woff2") format("woff2"), url("../fuentes/GillSans-Bold.woff") format("woff"), url("../fuentes/GillSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*Generales*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

body {
    font-family: "Gill Sans";
    color: #575757;
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 100px;
    padding: 0.375rem 1.25rem;
    transition: all 0.5s ease 0s;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(226, 6, 19);
    border-color: rgb(226, 6, 19);
    border-width: 2px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-alt {
    color: #e20613;
    background-color: rgb(255 255 255);
    border-color: rgb(255 255 255);
    border-width: 2px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-primary:hover {
    color: rgb(226, 6, 19);
    background-color: rgb(255, 255, 255);
    border-color: rgb(226, 6, 19);
}

.btn-alt:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(226, 6, 19);
    border-color: rgb(255 255 255);
}

.contenedor {
    min-height: calc(100vh - 93px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.navbar {
    height: 93px;
    background: rgb(226, 6, 19);
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 0px;
}

.navbar-brand {
    align-self: center;
    height: 93px;
    display: flex;
}

.navbar-brand img {
    width: 180px;
}

.navbar-toggler {
    position: absolute;
    left: 30px;
}

.navbar-toggler > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    color: white;
}

.burguer {
    width: 36px;
    height: 36px;
    position: relative;
}

.burguer i {
    display: block;
    background: rgb(254, 246, 159);
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0px;
}

.collapsed .burguer i:first-child, .collapsed .burguer i:last-child {
    transition: all 0.5s ease 0.8s;
}

.burguer i:first-child {
    top: 0px;
}

.burguer i:last-child {
    bottom: 0px;
}

.burguer i:nth-child(2), .burguer i:nth-child(3) {
    top: 50%;
    margin-top: -5px;
    transition: transform 0.3s linear 0.5s;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none;
}

.navbar-collapse {
    background: rgba(255, 255, 255, 0.98);
    min-height: calc(100vh - 93px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

.navbar-collapse.show {
    opacity: 1;
}

.navbar-toggler[aria-expanded="true"] .burguer i:first-child, .navbar-toggler[aria-expanded="true"] .burguer i:last-child {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .burguer i:nth-child(2) {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .burguer i:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0px auto;
    height: 100%;
    flex-grow: 2;
}

.navbar-nav li {
    width: 33.3333%;
    max-width: 315px;
    padding: 15px;
}

.navbar-nav li a:hover {
    color: rgb(226, 6, 19);
}

.navbar-nav li a > span {
    display: block;
    margin-top: 1rem;
}

.navbar-nav img {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 40px;
}

.navbar-nav a {
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}

.navbar-collapse > a {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 30px;
}

.navbar .usuario {
    position: absolute;
    right: 40px;
    top: initial;
    color: white;
}

.navbar .usuario a {
    margin-left: 8px;
    line-height: 1;
    transition: opacity .5s;
}

.navbar .usuario a:hover {
    opacity: 0.7 ;
}

.navbar .usuario a img {
    width: 18px;
    position: relative;
    top: -4px;
}

.bloque {
    background: white;
    border-radius: 30px;
    padding: 24px;
}

a, a:hover {
    color: #e20613;
}

/*Formularios*/
.form-control {
    background: rgb(245, 245, 245);
    border: none;
    border-radius: 12px;
    padding: 0.375rem 1.25rem;
    transition: all 0.5s ease 0s;
    margin-bottom: 8px;
}

.form-control:focus {
    box-shadow: rgb(245, 245, 245) 0px 0px 0px 0.2rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #e20613;
    background-color: #e20613;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem #f5f5f5;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #e20613;
}

/*Textos*/
h1, h2, h3, h4, h5, h6 {
    color: rgb(226, 6, 19);
}

h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.75rem;
}

.linea-bt {
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 2rem;
}

.linea-bt::after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0px;
    width: 180px;
    max-width: 50%;
    height: 1px;
    background: rgb(226, 6, 19);
}

/*Nav Carrusel*/
.slick-dots li button:before {
    color: #000000;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: #e20613;
}

/*
================
Particulares
================
*/
/*Registro*/
#registro-1, #registro-2 {
    background: url("../img/fondo-registro.jpg") center center / cover no-repeat;
}

#registro-1 .navbar, #registro-2 .navbar {
    background: transparent;
}

#registro-1 .bloque, #registro-2 .bloque {
    max-width: 520px;
    margin: 0px auto;
}

#registro-1 .bloque .btn, #registro-2 .bloque .btn {
    margin: 2rem auto 1rem;
    display: block;
}

#registro-2 form h3 {
    margin-top: 24px;
}

.proposito {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.check-caja label {
    border: 2px solid #e20613;
    width: 120px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 12px;
    color: #e20613;
    cursor: pointer;
    margin: 0 6px 0;
}

.check-caja input:checked + label {
    background: #e20613;
    color: white;
}

.check-caja input {
    opacity: 0;
    width: 1px;
}

/*Inicio*/
#inicio #proyectos-destacados {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gray;
    overflow: hidden;
}

#inicio #info-inicio {
    position: absolute;
    width: 35%;
    max-width: 475px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid white;
    padding: 40px;
}

#inicio #info-inicio .bloque-rojo {
    z-index: 2;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}

#inicio #info-inicio .fondo-rojo {
    content: "";
    position: absolute;
    background: rgb(226, 6, 19);
    background: linear-gradient(180deg, rgba(226, 6, 19,1) 0%, rgba(97,7,13,1) 100%);
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    mix-blend-mode: hard-light;
}

#inicio #info-inicio h1 {
    background: white;
    margin-left: -70px;
    margin-right: -70px;
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 70px;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}

#inicio #info-inicio p {
    color: white;
}

#inicio #info-inicio .btn {
    margin: 1.5rem auto 0;
    display: block;
    max-width: 140px;
}

#inicio .slick-slider, .proyecto {
    position: relative;
    min-height: 100vh;
    min-height: calc(100vh - 93px);
}

#inicio .slick-slider {
    height: 100vh;
    height: calc(100vh - 93px);
}

.proyecto .logo {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 120px;
}

.proyecto .fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#inicio .slick-next, #inicio .slick-prev {
    top: initial;
    left: initial;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: white url('../img/flecha.svg') 58% center no-repeat;
    background-size: 15px;
    border-radius: 100%;
    bottom: 15px;
    transition: all .5s ease;
    position: absolute;
}

#inicio .slick-next:hover, #inicio .slick-prev:hover {
    box-shadow: 0 0 0 5px #e20613 ;
}

#inicio .slick-prev:before, #inicio .slick-next:before {
    display: none;
}

#inicio .slick-prev {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: 50%;
}

#inicio .slick-next {
    right: 40px;
}

#inicio .slick-prev {
    right: 110px;
}

/* Barra progreso */
.slider-progress {
    height: 3px;
    background: #fff;
    position: absolute;
    right: 40px;
    width: 200px;
    bottom: 120px;
}

.slider-progress .progress {
    width: 0%;
    height: 3px;
    background: #e20613;
}

.custom_paging {
    position: absolute;
    bottom: 110px;
    right: 40px;
    width: 200px;
    text-align: right;
    height: 40px;
}

.custom_paging li {
    list-style-type: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: opacity .5s ease;
}

.custom_paging li.slick-active {
    opacity: 1;
}

/*Favoritos*/
.fav {
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    list-style-type: none;
    margin: 30px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.fav:focus {
    outline: none;
}

.fav .encabezado {
    position: relative;
}

.fav .encabezado > img {
    border-radius: 20px 20px 0 0;
}

.fav .encabezado .nom-fav {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.fav .encabezado .nom-fav span {
    display: none;
}

.fav .encabezado .fav-ico {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.fav-ico img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s ease;
}

.fav-ico.seleccionado img.relleno {
    opacity: 1;
}

.fav-ico.seleccionado:hover img.relleno {
    opacity: 0;
}

.fav-ico.seleccionado:hover img.cerrar {
    opacity: 1;
}

.fav > h3 {
    margin: 10px 20px 20px;
    padding-bottom: 8px;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    border-bottom: 1px solid #e20613;
}

.fav > h3 span {
    font-size: 1.75em;
}

.fav .info {
    padding: 0 20px;
    line-height: 1.2;
}

.fav .info span {
    display: block;
}

.fav .estado {
    padding: 20px;
}

.fav .estado img {
    height: 30px;
    width: auto;
}

.fav > a {
    display: block;
    width: 55%;
    max-width: 160px;
    margin: 0 auto;
}

/*Proyecto*/
.pag-proyecto .fondos {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.pag-proyecto .fondos img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s ease;
}

.breadcrumb-cont {
    display: inline;
    width: initial;
}

.breadcrumb {
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: .35rem 1rem;
    display: inline;
}

.breadcrumb li {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.075em;
    font-size: 0.875rem;
    color: #575757;
    display: inline;
}

.breadcrumb li a {
    color: #575757;
}

.breadcrumb li a:hover, .breadcrumb li.active {
    color: #e20613;
    text-decoration: none
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 1rem;
    width: 20px;
    color: transparent;
    content: ">";
    background: url(../img/bread-flecha.svg) no-repeat left;
}

.nom-proyecto {
    margin: 40px 0;
}

.nom-proyecto img {
    width: 160px;
}

.nom-proyecto span {
    display: none;
}

.secciones {
    position: relative;
}

.secciones ul {
    display: flex;
    padding: 0;
    border-bottom: 2px solid white;
    margin-bottom: 60px;
    overflow: hidden;
}

.secciones li {
    pointer-events: auto;
    color: white;
    list-style-type: none;
    padding: 24px;
    border-radius: 30px 30px 0 0;
    margin: 0 30px;
    transform: translateY(calc(100% - 66px));
    cursor: pointer;
    transition: all .8s ease;
}

.secciones h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: .5em;
}

.secciones .btn {
    margin: 0 auto;
    display: block;
    max-width: 180px
}

.encabezado-proyectos {
    position: absolute;
    top: 30px;
    left: 40px;
}

.pag-proyecto .contenedor {
    justify-content: flex-end;
}

.contenedor[data-seccion="neutro"] .fondos .neutro, .contenedor[data-seccion="ubicacion"] .fondos .ubicacion, .contenedor[data-seccion="arquitectura"] .fondos .arquitectura, .contenedor[data-seccion="zonas"] .fondos .zonas, .contenedor[data-seccion="apartamentos"] .fondos .apartamentos {
    opacity: 1;
}

.contenedor[data-seccion="ubicacion"] .secciones .ubicacion, .contenedor[data-seccion="arquitectura"] .secciones .arquitectura, .contenedor[data-seccion="zonas"] .secciones .zonas, .contenedor[data-seccion="apartamentos"] .secciones .apartamentos {
    transform: translate(0);
    background: #e20613;
}

.contenedor:not([data-seccion="neutro"]) .fondos {
    cursor: crosshair;
}

.secciones {
    pointer-events: none;
}

/*Estilos Menu Mapa - Bootstrap 3*/
#mapa .navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
}

#mapa .navbar-collapse.collapse:not(.in) {
    display: none !important;
}

#mapa .navbar-collapse.in {
    opacity: 1;
    z-index: 999999;
    position: relative;
}

#mapa .navbar-collapse.collapse {
    display: flex !important;
    height: initial !important;
    padding-bottom: 0;
    overflow: initial !important;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

#mapa .navbar-collapse {
    max-height: initial;
    width: 100%;
}

#mapa .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#mapa .navbar-nav {
    list-style: none;
}

#mapa .navbar-toggler:not(.collapsed) .burguer i:first-child, #mapa .navbar-toggler:not(.collapsed) .burguer i:last-child {
    opacity: 0;
}

#mapa .navbar-toggler:not(.collapsed) .burguer i:nth-child(2) {
    transform: rotate(45deg);
}

#mapa .navbar-toggler:not(.collapsed) .burguer i:nth-child(3) {
    transform: rotate(-45deg);
}

#mapa .navbar-toggle {
    display: flex;
}

#mapa #map {
    height: calc(100vh - 93px) !important;
}

/*Filtro mapa*/
#form-map {
    background: white;
    border-radius: 32px;
    box-shadow: 0 0 20px rgb(0 0 0 / 56%);
    padding: 0;
}

#form-map h2 {
    background: #e20613;
    color: white;
    padding: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    border-radius: 32px 32px 0 0;
    text-align: center;
}

.search-box {
    max-width: 360px;
    margin-left: 40px;
    margin-top: 5vh;
}

#form-map .campos {
    padding: 0 15px 15px;
}

#form-map h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

#form-map .campos .form-group {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 15px;
}

#form-map .campos .form-group:last-child, #form-map .campos .form-group:nth-last-child(2) {
    border: none;
}

#form-map .campos .form-group.cus-check:nth-last-child(2) {
    padding-top: 1px;
    text-align: center
}

#form-map .campos .form-group:last-child {
    padding: 0;
}

#form-map .campos .form-group:last-child .btn {
    max-width: 160px;
    display: block;
    margin: 0 auto;
}

#form-map .campos .form-inline {
    text-align: center;
}

.cus-check .checkbox label {
    font-size: 1rem;
    margin-left: 20px;
}

.cus-check .checkbox:first-child label {
    margin-left: 0;
}

.cus-check .checkbox .icheckbox {
    border-radius: 4px;
    box-shadow: none;
    border: 2px solid #e20613;
    background: white;
    box-sizing: border-box;
    top: -4px;
    margin-right: 6px;
}

.cus-check .checkbox .icheckbox.checked {
    background: #e20613;
}

.cus-check .checkbox .icheckbox:after {
    color: white;
    margin: 0;
    line-height: 1.2;
    left: 1px;
    font-size: .875rem;
}

.cont-cus-check-lg {
    display: flex;
    justify-content: space-around;
}

.cont-cus-check-lg .check-caja label {
    width: 32px;
    border-radius: 4px;
}

#mapa .check-caja .icheckbox.checked + label {
    background: #e20613 !important;
    color: white;
}

/*Control Rango*/
/*Valores*/
.cus-rango .barra {
    margin: 1rem .5rem 1rem 0;
}

.cus-rango .valores {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
}

#valores-area:before {
    content: 'Entre ';
    font-weight: 400;
}

.noUi-connect {
    background: #e20613;
}

.noUi-horizontal {
    height: 4px;
}

.noUi-target {
    border: none;
    background: #cccccc;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -10px;
    border-radius: 100px;
    border: 2px solid #e20613;
    background-color: #FFF;
    background-size: 8px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-handle:focus {
    outline: none;
}

.noUi-horizontal .noUi-handle-lower {
    background-image: url('../img/f-valor-i.svg');
    background-position: left 8px center;
}

.noUi-horizontal .noUi-handle-upper {
    background-image: url('../img/f-valor-d.svg');
    background-position: right 7px center;
}

.noUi-handle:after, .noUi-handle:before, .noUi-handle:after, .noUi-handle:after {
    display: none;
}

/*Marcadores*/
.marker-style {
    border: none;
}

.cluster > div:before {
    background: #e20613;
}

/*Globo*/
.infobox-wrapper .cus-box {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 20px;
    font-size: 1rem;
    position: relative;
    margin-bottom: 50px;
    min-width: 200px;
    font-family: "Gill Sans";
}

.infobox-wrapper .cus-box:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    left: 95px;
    content: "";
    bottom: -6px;
}

.infobox-wrapper .cus-box .cus-box-img {
    width: 250px;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.infobox-wrapper .cus-box .cus-box-img:after {
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.75) 100%);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.infobox-wrapper .cus-box .cus-box-img img {
    width: 100%;
}

.cus-box-info {
    padding: 10px;
}

.cus-box-info .valor {
    color: #e20613;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #e20613;
    margin-bottom: .5em;
    padding-bottom: .25em;
}

.cus-box-info .area {
    margin-bottom: .5em;
}

.cus-box-info .area .subtit {
    display: block;
}

.cus-box-info .estado {
    width: 60%;
    margin: 1rem 0 0;
}

.cus-box-info .estado img {
    max-width: 100%;
}

.infobox-wrapper .cus-box .cus-box-img .logo {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}

.infobox-wrapper > img {
    border-radius: 100%;
    opacity: 1;
    top: 8px;
}

.infobox-wrapper > img:hover {
    box-shadow: 0 0 15px rgb(0 0 0 / 0.6);
}

.marker-style img {
    width: 60%;
}

/*Ubicacion*/
body#ubicacion .contenedor {
    justify-content: flex-start
}

body#ubicacion .encabezado-ubicacion {
    margin-left: 30px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

body#ubicacion .bloque-ubicacion {
    background: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 24px;
    padding: 24px;
    margin: 40px 40px;
    max-width: 320px;
}

body#ubicacion .bloque-ubicacion h1 {
    margin-bottom: 1.5rem;
}

body#ubicacion .bloque-ubicacion h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #e20613;
    padding-bottom: 8px;
    margin-bottom: 2rem;
}

body#ubicacion .bloque-ubicacion ul {
    margin-bottom: 0;
    padding-left: 18px;
}

.bloque-ubicacion ul {
    list-style: none;
    /* Remove default bullets */
}

.bloque-ubicacion ul li::before {
    content: "\2022";
    color: #e20613;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#mapa-ubicacion {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dfdfe8;
    left: 0;
    top: 0;
    z-index: 1;
}

/*Arquitectura - Zonas*/
body#arquitectura .encabezado-arquitectura, body#zonas .encabezado-zonas {
    position: fixed;
    z-index: 97;
    top: 115px;
    left: 40px;
}

body#arquitectura .navbar, body#zonas .navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body#arquitectura #fullpage, body#zonas #fullpage {
    margin-left: 480px;
    margin-top: 93px;
}

.bloque-arquitectura, .bloque-zonas {
    max-width: 455px;
    margin-top: 2rem;
}

.bloque-arquitectura .info, .bloque-zonas .info {
    border: 3px solid #e1e1e1;
    border-radius: 32px;
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 400px;
    transition: all .8s ease;
    margin-top: 7.5vh;
    margin-bottom: 5vh;
}

.bloque-arquitectura .info h2, .bloque-zonas .info h2 {
    font-size: 1.75rem;
    font-weight: bold;
    border-bottom: 1px solid #e20613;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: #575757
}

.bloque-arquitectura .info > div, .bloque-zonas .info > div {
    display: none;
    opacity: 0;
    transition: all .8s ease .5s;
}

body.fp-viewing-fachadas .info-fachadas, body.fp-viewing-videos .info-videos, body.fp-viewing-plantas .info-plantas, body.fp-viewing-galeria .info-galeria, body.fp-viewing-recorridos .info-recorridos {
    display: block;
    opacity: 1;
}

#cus-menu {
    list-style: none;
    padding-left: 0;
    border-left: 1px solid gray;
    font-size: 1.2rem;
    position: fixed;
    bottom: 40px;
    left: 40px;
}

#cus-menu li {
    position: relative;
    padding-left: 15px;
}

#cus-menu li.active:before {
    content: "";
    position: absolute;
    height: 100%;
    background: red;
    box-sizing: border-box;
    width: 5px;
    left: -3px;
}

#cus-menu li a {
    color: #575757;
}

#cus-menu li a:hover {
    color: #e20613;
    text-decoration: none;
}

.section .container {
    max-width: 900px;
}

.grid-galeria {
    padding-bottom: 90px;
}

.grid-galeria ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.grid-galeria ul li {
    width: 50%;
    padding: 15px;
}

.grid-galeria ul li a {
    transition: all .5s ease;
    display: block;
    border-radius: 8%;
    overflow: hidden;
}

.grid-galeria ul li a:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
}

.grid-galeria ul li img {
    transition: all .5s ease;
}

.grid-galeria ul li a:hover img {
    transform: scale(1.1)
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slick-lightbox-slick-caption {
    font-size: 1.2rem;
    display: block;
}

.carrusel-lightbox img {
    cursor: pointer;
}

.slick-lightbox-close {
    background: white;
    border-radius: 4px;
    line-height: 0;
    opacity: .75
}

.slick-lightbox-close:hover {
    opacity: 1;
}

.slick-lightbox-close:before {
    color: black;
    line-height: .4;
    opacity: 1;
}

.slick-lightbox-slick .slick-prev {
    z-index: 2;
}

/*Recorridos 360*/
.your-iframe {
    display: block;
    margin-bottom: 0px;
    width: 100%;
    height: 45vw;
    max-height: 600px;
    border: none;
}

.iframe-wrapper {
    position: relative;
    box-shadow: 0 0 0 10px white;
}

.iframe-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.iframe-placeholder img {
    width: 100%;
    heighT: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}

.iframe-placeholder span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 220px;
    text-align: center;
    font-weight: bold;
    margin-left: -110px;
    padding: 8px 12px;
    background: white;
    border: 2px solid #e20613;
    color: #e20613;
    border-radius: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .5s ease;
}

.iframe-placeholder:hover span {
    color: white;
    background: #e20613;
}

.carrusel-iframe .slick-slide:focus {
    outline: initial
}

/*Resumen*/
.ficha-resumen {
    list-style-type: none;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    background: whitesmoke;
    position: relative;
}

.ficha-resumen:focus {
    outline: none;
}

.ficha-resumen .encabezado {
    position: relative;
    display: flex;
    align-items: flex-end
}

.ficha-resumen .encabezado > h3 {
    width: 100px;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
}

.ficha-resumen .encabezado > h3 span {
    display: none;
}

.ficha-resumen .encabezado .ubi span {
    display: block;
}

.ficha-resumen h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.ficha-resumen .planta {
    background: white;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

.ficha-resumen .planta img {
    display: inline;
    border-radius: 20px;
}

.ficha-resumen .encabezado .nom-ficha-resumen {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.ficha-resumen .encabezado .nom-ficha-resumen span {
    display: none;
}

.ficha-resumen .fav-ico {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    cursor: pointer;
    z-index: 2;
}

.fav-ico img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s ease;
}

.fav-ico.seleccionado img.relleno {
    opacity: 1;
}

.fav-ico.seleccionado:hover img.relleno {
    opacity: 0;
}

.fav-ico.seleccionado:hover img.cerrar {
    opacity: 1;
}

.ficha-resumen ul {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 1rem;
}

.ficha-resumen ul li::before {
    content: "\2022";
    color: #e20613;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ficha-resumen .valor > span:first-child {
    display: block;
    font-size: .75rem;
    font-weight: bold;
}

.ficha-resumen .valor > span:last-child {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e20613;
}

.ficha-resumen .valor > span:last-child small {
    font-size: .5em;
}

.ficha-resumen .plazo {
    font-weight: bold;
    margin-top: .5rem;
}

.carru-res.slick-dotted.slick-slider {
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.carru-res .slick-dots {
    bottom: 0;
}

#resumen h1 {
    margin-left: 25px;
}

#resumen .contenedor .col-izq {
    padding-left: 40px;
}

.info-resumen {
    border-bottom: 1px solid #BEBEBE;
    margin-bottom: 1rem;
}

.info-resumen h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.tag {
    background: whitesmoke;
    padding: .15em .5em;
    border-radius: 6px;
    margin-right: 4px;
}

.info-resumen .row {
    margin-bottom: 1rem;
}

/*Apartamentos*/
.pag-apartamentos .breadcrumb-cont {
    position: absolute;
    left: 40px;
    top: 40px;
    min-width: 400px;
}

.pag-apartamentos .col-filtros {
    background: whitesmoke;
    padding: 90px 40px 40px;
    display: flex;
    flex-direction: column;
}

.pag-apartamentos .col-filtros .form-filtros {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.pag-apartamentos .col-filtros .form-filtros .campos {
    width: 300px;
    max-width: 100%;
}
.pag-apartamentos .contenedor {
    justify-content: stretch
}

.pag-apartamentos .contenedor > .row {
    flex-grow: 2;
}

.pag-apartamentos .col-filtros h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.pag-apartamentos .form-group {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 15px;
}

.pag-apartamentos .form-group:last-child, .pag-apartamentos .form-group:nth-last-child(2) {
    border-bottom: none;
}

.pag-apartamentos .form-group:last-child {
    text-align: center;
}

.custom-select {
    background-color: rgb(255 255 255);
    border: none;
    border-radius: 12px;
    padding: 0.375rem 1.25rem;
    transition: all 0.5s ease 0s;
    margin-bottom: 8px;
}
.custom-select:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 6%);
}
.pag-apartamentos .ficha-resumen .btn {
    margin: 1rem auto 0;
    display: block;
    max-width: 140px;
}
.pag-apartamentos .col-resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pag-apartamentos .ficha-resumen .planta {
     overflow: hidden;
}
.pag-apartamentos .ficha-resumen .planta a {
    display: block;
   
}
.pag-apartamentos .ficha-resumen .planta img {
    transition: all .5s ease;
}
.pag-apartamentos .ficha-resumen .planta a:hover img {
    transform: scale(1.1)
}